.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .creditCard {
  animation: creditSwipe .4s ease-in-out forwards;
} */

/* @keyframes creditSwipe {
  0% {
    transform: rotate(0deg);
    transform-origin: bottom left;
  }

  50% {
    transform: rotate(-25deg);
    transform-origin: bottom left;
  }

  100% {
    transform: rotate(0deg);
    transform-origin: bottom left;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.solarPanelFadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


[id^="panel-2-"] {

  opacity: 0;

}

.connectorSlideIn {
  animation: slideIn 0.5s ease-in-out forwards;
}

.animateStroke {
  /* stroke-dasharray: 100;       Total length of stroke (adjust as needed) */
  /* stroke-dashoffset: 100; */
  animation: stroke 0.5s ease-in-out forwards;
}


/* .connect {
  
  stroke-dasharray: 0;

}  */

.connect path {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  transition: stroke-dashoffset 0.5s ease-in-out;
}

/* When animation starts */
.connect.animateStroke path {
  stroke-dashoffset: 0;
}



/* @keyframes stroke {
  0% {
    stroke-dasharray: 0, 100;
  }

  to {
    stroke-dasharray: 100, 0;
  }
} */

@keyframes slideIn {
  from {
    transform: translate3d(-32%, 0, 0);

  }

  to {
    transform: translate3d(0%, 0, 0);

  }
}


.connector {
  transform: translate3d(-34%, 0, 0);

}

[id^="panel-1-"] {

  opacity: 0;
}